<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">Tất Cả Danh Sách Công Việc Đã Hoàn Thành</h4>
                    </div>

                </div>
            </div>

            <div class="card-body">
                <table class="table table-hover box-shadow-table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">title</th>
                            <th scope="col">date</th>
                            <th scope="col">status</th>
                            <th scope="col">progress</th>
                            <th scope="col">size</th>
                            <th scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(todolists.length> 0) { %> <% for(let todolist of todolists) { %>
                                <tr>
                                    <th scope="row">
                                        <%= todolist.title %>
                                    </th>
                                    <td class="date-color">
                                        <%= todolist.date %>
                                    </td>
                                    <td class="status-color">
                                        <%= todolist.status %>
                                    </td>
                                    <td class="progress-color">
                                        <%= todolist.progress %>
                                    </td>
                                    <td class="size-color">
                                        <%= todolist.size %>
                                    </td>
                                    <td>
                                        <a href="/update/<%= todolist._id %>" class="btn btn-sm btn-warning"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="/delete/<%= todolist._id %>" class="btn btn-sm btn-danger"><i
                                                class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } else { %>
                                        <div class="alert alert-danger" role="alert">
                                            Chưa Có Công Việc
                                        </div>
                                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
